---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <main class="cards">
    {% for post in site.posts %}
      <article class="card">
        <img src="{{ post.thumb }}" alt="{{post.tags | join: ' '}}" style="width: 300px">
        <div class="text">
          <h3>{{ post.title }}</h3>
          {% for tag in post.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
          {% endfor %}<br><br>
          <button onclick="location.href='{{ post.url | prepend: site.baseurl }}'">Read</button>
        </div>
      </article>
    {% endfor %}
</main>
