---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    <span>[
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
      {% endfor %}
    ]</span>


  </header>


  <article class="post-content">
      <h1>Result: {{page.result.total | date: "%H:%M:%S"  }}</h1>

      On {{page.event.date | date: "%d %B %Y" }} in {{page.event.location}} I completed the
      <b><a href="{{page.event.url}}" target="_blank">{{page.event.name}}</a></b>
      {{page.event.type}}
      in {{page.result.total | date: "%l"  }} hours
      {{page.result.total | date: "%M"  }} minutes
      and {{page.result.total | date: "%S"  }} seconds.

      {% if page.result.rank %}
      I ranked as:
        <ul>
            {% if page.result.rank.overall %}
            <li> {{page.result.rank.overall.place }} out of {{page.result.rank.overall.out_of }} overall (better than {{  page.result.rank.overall.place| times: 1.0 | divided_by: page.result.rank.overall.out_of | times: 1.0 |minus: 1 |times: -100| round: 2  }}%)</li>
            {% endif %}
            {% if page.result.rank.gender %}
            <li> {{page.result.rank.gender.place }} out of {{page.result.rank.gender.out_of }} by gender (better than {{  page.result.rank.gender.place| times: 1.0 | divided_by: page.result.rank.gender.out_of | times: 1.0 |minus: 1 |times: -100| round: 2  }}%)</li>
            {% endif %}
            {% if page.result.rank.age_group %}
            <li> {{page.result.rank.age_group.place }} out of {{page.result.rank.age_group.out_of }} in {{page.result.rank.age_group.ag_name}} age group (better than {{  page.result.rank.age_group.place| times: 1.0 | divided_by: page.result.rank.age_group.out_of | times: 1.0 |minus: 1 |times: -100| round: 2  }}%)</li>
            {% endif %}
        </ul>
      {% endif %}

      <h2>SWIM: {{ page.swim.time }}</h2>
      {% if page.swim.url %}
        <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src={{page.swim.url}}></iframe>
      {% endif %}

      <h2>BIKE: {{ page.bike.time }}</h2>
      {% if page.bike.url %}
        <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src={{page.bike.url}}></iframe>
      {% endif %}

      <h2>RUN: {{ page.run.time }}</h2>
      {% if page.swim.url %}
        <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src={{page.run.url}}></iframe>
      {% endif %}

      <h3>T1: {{page.T1}}</h3>
      <h3>T2: {{page.T2}}</h3>
    {{ content }}
  </article>

</div>
